@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
